Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: trailing-whitespace
    exclude: ^README.rst$
- repo: local
  hooks:
  - id: todo
    name: Check TODO
    language: pygrep
    entry: WIP
    args: [-i]
    types: [text]
    exclude: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  - id: pytest
    name: pytest quick
    language: python
    entry: pytest
    args: [-qq, --durations=1, -k=not slow]
    types: [python]
    pass_filenames: false
    additional_dependencies:
    - numpy
    - pandas
    - pytest-timeout
    - pytest-asyncio
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    args: [-j8]
    additional_dependencies:
    - flake8-broken-line
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-isort
    - flake8-string-format
    - flake8-type-annotations
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: [--keep-count, --keep-output]

Fixes typo: will be create => will be created
  tqdm/std.py
Due: todo, pytest

pre-commit: update hooks
  .pre-commit-config.yaml
Due: none

cli: warn on positional arg
  tests/tests_main.py
  tqdm/cli.py
Due: todo, pytest

tests: add py3.10
  .github/workflows/check.yml
  .github/workflows/test.yml
  setup.cfg
Due: todo

cli: fix py3.9 `importlib` usage
  tqdm/cli.py
Due: todo, pytest

autonotebook: check for ipywidgets
  tqdm/autonotebook.py
  tqdm/notebook.py
Due: todo, pytest

tests: fix nbval
  Makefile
  tox.ini
Due: todo

tests: coverage warning
  setup.cfg
Due: todo

tests: fix pytest-asyncio usage
  setup.cfg
  tox.ini
Due: todo

tests: fix pytest-nbval, tidy versions
  tox.ini
Due: todo

tests: drop py3.6 nbval
  tox.ini
Due: todo

tests: pin py3.5 keras
  tox.ini
Due: todo

perf: misc optimisations caught by perflint
  tqdm/cli.py
  tqdm/contrib/itertools.py
  tqdm/notebook.py
Due: todo, pytest

Allow vscode in autonotebook
  tqdm/autonotebook.py
Due: todo, pytest

Ensure that stderr/stdout has flush attr before calling it
  tqdm/std.py
Due: todo, pytest

Use consistent flush syntax
  tqdm/std.py
Due: todo, pytest

build: fix dev deps URL
  environment.yml
Due: todo

rich: expose `options` kwargs
  tqdm/rich.py
Due: todo, pytest

docs: fix typo (#1301)
  tqdm/std.py
Due: todo, pytest

docs: fix custom callback example typo (#1299)
  .meta/.readme.rst
  README.rst
Due: todo

autonotebook: re-enable VSCode (#1309)
  tqdm/autonotebook.py
Due: todo, pytest

add contrib.slack
  .meta/.readme.rst
  README.rst
  setup.cfg
  tqdm/contrib/bells.py
  tqdm/contrib/slack.py
Due: todo, pytest

slight tidy
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
Due: todo, pytest

warn once on error
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
Due: todo, pytest

remove unneeded variable
  tqdm/contrib/slack.py
Due: todo, pytest

emoji bars
  environment.yml
  tqdm/contrib/slack.py
Due: todo, pytest

add `[slack]` extra dependency
  environment.yml
  setup.cfg
Due: todo

consistent ordering
  .meta/.readme.rst
  README.rst
  setup.cfg
  tqdm/contrib/bells.py
  tqdm/contrib/slack.py
Due: todo, pytest

set bytes-related parameters prior to init in wrapattr
  tqdm/std.py
Due: todo, pytest

Pytest directories are not python modules
  tests/__init__.py
Due: todo, pytest

print new line in kubernetes
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

Allow to specify display id for notebook
  tqdm/notebook.py
Due: todo, pytest

Tweak
  tqdm/notebook.py
Due: todo, pytest

Update notebook.py
  tqdm/notebook.py
Due: todo, pytest

Update logging.py to deal with comet_ml.
  tqdm/contrib/logging.py
Due: todo, pytest

Update logging.py to allow working with stream with no name.
  tqdm/contrib/logging.py
Due: todo, pytest

make logging handler public, adapt documentation
  README.rst
  tests/tests_contrib_logging.py
  tqdm/contrib/logging.py
Due: todo, pytest

make logging example run slower and with more logs to have a better experience on copy-pasta try
  README.rst
Due: todo

Add right alignement to n_fmt in r_bar
  tqdm/std.py
Due: todo, pytest

Update formatting tests
  tests/tests_tqdm.py
Due: todo, pytest
