Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

todo:
  name: Check TODO
  language: pygrep
  entry: WIP
  args:
  - -i

pytest:
  name: pytest quick
  language: python
  entry: pytest
  args:
  - -qq
  - --durations=1
  - -k=not slow
  pass_filenames: false
  additional_dependencies:
  - numpy
  - pandas
  - pytest-timeout
  - pytest-asyncio

ci: timeouts
  .github/workflows/test.yml
Due: none

misc linting/refactoring
  .meta/mkdocs.py
  tests/tests_contrib.py
  tests/tests_perf.py
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

test: simplify local devenv deps
  .meta/requirements-test.txt
  Makefile
  environment.yml
Due: todo

docs: streamline deployment
  .github/workflows/post-release.yml
Due: todo

'Refactored by Sourcery'
  tests/tests_itertools.py
  tqdm/std.py
Due: todo, pytest

fix site deployment, add conda deps
  .github/workflows/post-release.yml
  environment.yml
Due: todo

Enable negative progress to be displayed.
  tqdm/std.py
Due: todo, pytest

'Refactored by Sourcery'
  tqdm/std.py
Due: todo, pytest

Remove redundant call to self._time()
  tqdm/std.py
Due: todo, pytest

add `__reversed__()`
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

add efficient `__contains__`
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

ci: minor framework update
  .github/workflows/test.yml
Due: none

CLI: replace `pkg_resources` => `importlib`
  tqdm/cli.py
Due: todo, pytest

fix deps & tests
  setup.cfg
  tests/tests_tqdm.py
  tqdm/cli.py
Due: todo, pytest

'Refactored by Sourcery'
  tqdm/cli.py
Due: todo, pytest

Implements platform-specific progress reporters.
  tqdm/platform_specific/DBusTray.py
  tqdm/platform_specific/IProgressReporter.py
  tqdm/platform_specific/UnityDBusTaskbarButton.py
  tqdm/platform_specific/__init__.py
  tqdm/platform_specific/windows_taskbar_extensions.py
  tqdm/std.py
Due: todo, pytest

Make postfix whitespace stripping optional
  .meta/.readme.rst
  README.rst
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

Revert trailing whitespace deletion in README
  README.rst
Due: todo

set bytes-related parameters prior to init in wrapattr
  tqdm/std.py
Due: todo, pytest

Add some examples for tqdm.tk
  examples/tk/tk_cancel.py
  examples/tk/tk_manual.py
  examples/tk/tk_reset.py
  examples/tk/trange.py
Due: todo, pytest

'Refactored by Sourcery'
  examples/tk/tk_cancel.py
  examples/tk/tk_manual.py
  examples/tk/tk_reset.py
  examples/tk/trange.py
Due: todo, pytest

Fix tk examples for isort and flake8
  examples/tk/tk_cancel.py
  examples/tk/tk_manual.py
  examples/tk/tk_reset.py
  examples/tk/trange.py
Due: todo, pytest

update typo and desp
  README.rst
Due: todo

Update std.py
  tqdm/std.py
Due: todo, pytest

Add console parameter to rich wrapper
  tqdm/rich.py
Due: todo, pytest

Update tqdm/autonotebook.py
  tqdm/autonotebook.py
Due: todo, pytest

add py.typed file
  setup.cfg
  tqdm/py.typed
Due: todo

Ensure that data files are installed even when dist-info is regenerated
  MANIFEST.in
Due: todo

ensure package data
  setup.py
Due: todo, pytest

Introducing tqdm.contrib.scp.ScpProgresswriter
  README.rst
  tqdm/contrib/scp.py
Due: todo, pytest

Refactoring for Python2.7 compatibility.
  setup.cfg
  tqdm/contrib/scp.py
Due: todo, pytest

Removing "unused" import
  tqdm/contrib/scp.py
Due: todo, pytest

Rename SECURITY.md to Nguyenvanduong98ht@gmail.com
  .github/Nguyenvanduong98ht@gmail.com
Due: todo

docs: fix custom callback example typo
  .meta/.readme.rst
  README.rst
Due: todo

Path conditions:
  todo: any file but: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  pytest: any of: \.py$
