Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

todo:
  name: Check TODO
  language: pygrep
  entry: WIP
  args:
  - -i

pytest:
  name: pytest quick
  language: python
  entry: pytest
  args:
  - -qq
  - --durations=1
  - -k=not slow
  pass_filenames: false
  additional_dependencies:
  - numpy
  - pandas
  - pytest-timeout
  - pytest-asyncio

better user-agent
  tqdm/contrib/discord.py
Due: todo, pytest

handle rate limit
  tqdm/contrib/discord.py
Due: todo, pytest

add discord requests dep
  pyproject.toml
Due: todo

gui: fix matplotlib
  tqdm/gui.py
Due: todo, pytest

drop python<=3.7 support
  examples/7zx.py
  tests/conftest.py
  tests/tests_itertools.py
  tests/tests_synchronisation.py
  tests/tests_tqdm.py
  tqdm/cli.py
  tqdm/contrib/__init__.py
  tqdm/contrib/utils_worker.py
  tqdm/notebook.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

update pyproject.toml for python>=3.8
  pyproject.toml
Due: todo

manually remove `if sys.version_info[:2] >= (3, 8):`
  tests/tests_main.py
Due: todo, pytest

filter all code over `ruff`.
  examples/7zx.py
  tests/tests_main.py
  tqdm/_utils.py
Due: todo, pytest

tests: sync deps
  .meta/requirements-test.txt
  environment.yml
  pyproject.toml
Due: todo

deps: fix pybuild
  environment.yml
Due: todo

tests: bump pytest-asyncio
  .meta/requirements-test.txt
  .pre-commit-config.yaml
  environment.yml
  pyproject.toml
Due: todo

tests: fix codecov rate limit
  .github/workflows/test.yml
Due: none

feat(telegram): add minimum interval for Telegram updates
  tqdm/contrib/telegram.py
Due: todo, pytest

desc_iterable
  README.rst
  tqdm/std.py
Due: todo, pytest

simple working version
  tqdm/std.py
Due: todo, pytest

format pyproject and add pyright
  pyproject.toml
Due: todo

add docstring
  tqdm/__init__.py
Due: todo, pytest

add __name == "__main__"
  tqdm/__main__.py
Due: todo, pytest

fix pyproject
  pyproject.toml
Due: todo

switch to ruff-pre-commit
  .pre-commit-config.yaml
Due: none

fix pre-commit
  .pre-commit-config.yaml
Due: none

mega fix utils
  tqdm/utils.py
Due: todo, pytest

fix releated to utils
  tests/tests_main.py
  tests/tests_utils.py
  tqdm/contrib/__init__.py
  tqdm/std.py
Due: todo, pytest

change tqdm._instances to tqdm.__instance__
  tests/conftest.py
  tests/tests_tqdm.py
  tqdm/_monitor.py
  tqdm/_tqdm_pandas.py
  tqdm/gui.py
  tqdm/std.py
  tqdm/tk.py
Due: todo, pytest

ignore PLR0911
  pyproject.toml
Due: todo

add importlib_resources
  pyproject.toml
Due: todo

fix __init__
  tqdm/__init__.py
Due: todo, pytest

fix cli
  tqdm/cli.py
Due: todo, pytest

fix auto
  tqdm/auto.py
Due: todo, pytest

change to ruff in makefile
  Makefile
Due: todo

fix confilct
  .meta/requirements-test.txt
  environment.yml
Due: todo

tests: bump pytest-asyncio (confict)
  .meta/requirements-test.txt
  .pre-commit-config.yaml
  environment.yml
  pyproject.toml
Due: todo

Remove default: None in comment
  tqdm/contrib/concurrent.py
Due: todo, pytest

Use python default max_workers for concurrent.futures executors
  tqdm/contrib/concurrent.py
Due: todo, pytest

Install UV instead of setup-python. Use uv tool install instead of pip.
  .github/workflows/test.yml
Due: none

work with ConEmu specific Operating System Commands instead
  tqdm/std.py
Due: todo, pytest

Update LICENCE, fix license year
  LICENCE
Due: todo

Path conditions:
  todo: any file but: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  pytest: any of: \.py$
