Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: trailing-whitespace
    exclude: ^README.rst$
- repo: local
  hooks:
  - id: todo
    name: Check TODO
    language: pygrep
    entry: WIP
    args: [-i]
    types: [text]
    exclude: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  - id: pytest
    name: pytest quick
    language: python
    entry: pytest
    args: [-qq, --durations=1, -k=not slow]
    types: [python]
    pass_filenames: false
    additional_dependencies:
    - numpy
    - pandas
    - pytest-timeout
    - pytest-asyncio>=0.24
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    args: [-j8]
    additional_dependencies:
    - flake8-broken-line
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-isort
    - flake8-pyproject
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py37-plus]
- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/kynan/nbstripout
  rev: 0.9.0
  hooks:
  - id: nbstripout
    args: [--keep-count, --keep-output]

Add flush argument to tqdm.write
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

fix(notebook): suppress update() return value to prevent unwanted True output in Jupyter
  tqdm/notebook.py
Due: todo, pytest

fix: truncate percentage display to prevent premature 100%
  tqdm/std.py
Due: todo, pytest

Add optional ETA smoothing for more stable estimates in streaming scenarios
  README.rst
  tests/tests_tqdm.py
  tqdm/std.py
  tqdm/tqdm.1
Due: todo, pytest

fix: satisfy Codacy callable check
  tqdm/std.py
Due: todo, pytest

fix: address Codacy callable and PRNG warnings
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

docs: fix progressbar spelling in std.py
  tqdm/std.py
Due: todo, pytest

docs(contrib): expand docstrings for DummyTqdmFile and tzip/tmap/tenumerate
  tqdm/contrib/__init__.py
Due: todo, pytest

fix: preserve raw set_description_str output
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

Do not return refresh sentinel from tqdm_notebook.update
  tests/tests_notebook.py
  tqdm/notebook.py
Due: todo, pytest

Set name for tqdm monitor thread
  tqdm/_monitor.py
Due: todo, pytest

AI-generated possible solution for #1722
  .meta/.readme.rst
  README.rst
  tqdm/std.py
Due: todo, pytest

Fix set_description_str separator handling
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

bump workflow actions, pre-commit
  .github/workflows/test.yml
  .meta/.readme.rst
  .pre-commit-config.yaml
  README.rst
  tox.ini
Due: todo

simplify terminal size detection
  tqdm/utils.py
Due: todo, pytest

framework: drop redundant config
  .github/FUNDING.yml
  pyproject.toml
Due: todo

more contrib.itertools
  tests/tests_itertools.py
  tqdm/contrib/itertools.py
Due: todo, pytest

soft-deprecate tqdm.utils.envwrap -> envwrap
  .meta/.readme.rst
  README.rst
  pyproject.toml
  tests/tests_utils.py
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

CI: migrate to pre-commit.ci
  .github/workflows/test.yml
Due: none

benchmarks: fix asv
  asv.conf.json
  benchmarks/benchmarks.py
  environment.yml
Due: todo, pytest

lint warning suppression
  .prospector.yml
  examples/tqdm_wget.py
  tests/tests_main.py
  tests/tests_perf.py
  tests/tests_tqdm.py
  tqdm/_utils.py
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
  tqdm/keras.py
  tqdm/notebook.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

minor rename
  tqdm/_monitor.py
Due: todo, pytest

Set name for tqdm monitor thread (#1752)
  tqdm/_monitor.py
Due: todo, pytest

Fix TMonitor deadlock at interpreter shutdown
  tests/tests_synchronisation.py
  tqdm/_monitor.py
Due: todo, pytest

minor docstring updates
  tests/tests_synchronisation.py
  tqdm/_monitor.py
Due: todo, pytest

docs: consistent progress bar terminology
  .meta/.readme.rst
  DEMO.ipynb
  README.rst
  tqdm/asyncio.py
  tqdm/gui.py
  tqdm/notebook.py
  tqdm/std.py
  tqdm/tk.py
  tqdm/tqdm.1
Due: todo, pytest

tests: fix coverage
  tox.ini
Due: todo

revert accidental change to `tqdm(ascii)` default
  tqdm/std.py
Due: todo, pytest

docs: replace stray rst -> md
  .meta/.readme.rst
  .meta/mkdocs.py
  README.rst
  tests/tests_synchronisation.py
  tqdm/contrib/bells.py
  tqdm/utils.py
Due: todo, pytest

docs: fix links
  .meta/.readme.rst
  DEMO.ipynb
  README.rst
  examples/tqdm_requests.py
  examples/tqdm_wget.py
Due: todo, pytest

docs: mention OpenAI sponsorship
  .meta/.readme.rst
  README.rst
Due: todo

Fix #1185: Add UserWarning for tqdm(enumerate(...)) usages
  tqdm/std.py
Due: todo, pytest

Fix typo 'beween' -> 'between' in README
  .meta/.readme.rst
  README.rst
Due: todo

Fix typo 'beween' -> 'between' in README (#1762)
  .meta/.readme.rst
  README.rst
Due: todo

pre-commit: README.rst
  .meta/mkdocs.py
  .pre-commit-config.yaml
Due: todo, pytest

pre-commit: completion
  .meta/mkcompletion.py
  .pre-commit-config.yaml
Due: todo, pytest

auto git-fame
  .meta/.readme.rst
  CONTRIBUTING.md
  README.rst
Due: todo

tox-gh-actions -> tox-gh
  .github/workflows/test.yml
  tox.ini
Due: todo

pre-commit: tqdm.1
  .meta/mkdocs.py
  .pre-commit-config.yaml
  Makefile
  tests/tests_main.py
Due: todo, pytest
