Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: trailing-whitespace
    exclude: ^README.rst$
- repo: local
  hooks:
  - id: todo
    name: Check TODO
    language: pygrep
    entry: WIP
    args: [-i]
    types: [text]
    exclude: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  - id: pytest
    name: pytest quick
    language: python
    entry: pytest
    args: [-qq, --durations=1, -k=not slow]
    types: [python]
    pass_filenames: false
    additional_dependencies:
    - numpy
    - pandas
    - pytest-timeout
    - pytest-asyncio
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    args: [-j8]
    additional_dependencies:
    - flake8-broken-line
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-isort
    - flake8-string-format
    - flake8-type-annotations
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: [--keep-count, --keep-output]

Force rich to refresh when closing
  tqdm/rich.py
Due: todo, pytest

Bugfix for logging.py (correct logging level)
  tqdm/contrib/logging.py
Due: todo, pytest

Try to give a solution for the unexpected result of reversed in issue #1484 and issue #1588
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

Add signed commit and Modified the comments
  tqdm/std.py
Due: todo, pytest

Give a solution to #1484 and #1588
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

Fix comment in sample code in README.rst
  README.rst
Due: todo

docs: bump versions
  environment.yml
Due: todo

bump deps & linters
  .pre-commit-config.yaml
  environment.yml
Due: todo

ncols: support FreeBSD
  tqdm/utils.py
Due: todo, pytest

add py3.12 support
  .github/workflows/test.yml
  CONTRIBUTING.md
  asv.conf.json
  pyproject.toml
  tox.ini
Due: todo

slight lint
  tqdm/cli.py
Due: todo, pytest

cli: Fix docstring processing with Python 3.13+
  tqdm/cli.py
Due: todo, pytest

add py3.13 support
  .github/workflows/test.yml
  CONTRIBUTING.md
  asv.conf.json
  pyproject.toml
  tox.ini
Due: todo

Avoid Python 3.13+ RuntimeWarning: coroutine method 'aclose' of 'acount' was never awaited
  tests/tests_asyncio.py
Due: todo, pytest

docs: update URLs
  .meta/.readme.rst
  DEMO.ipynb
  README.rst
  examples/paper.bib
Due: todo

indicate the patched function in the doc string
  tqdm/std.py
Due: todo, pytest

Add a real pause/unpause functionnality
  tqdm/std.py
Due: todo, pytest

Added support for 'metrics' parameter
  tqdm/keras.py
Due: todo, pytest

Resolved code smell
  tqdm/keras.py
Due: todo, pytest

Extended test suite for keras callback
  tests/tests_keras.py
Due: todo, pytest

Formatted code
  tests/tests_keras.py
Due: todo, pytest

update & tidy workflows
  .github/workflows/comment-bot.yml
  .github/workflows/test.yml
  pyproject.toml
Due: todo

bump pre-commit
  .pre-commit-config.yaml
Due: none

cli: zip-safe --manpath, --comppath
  tqdm/cli.py
Due: todo, pytest

Add support for Python 3.13
  .github/workflows/test.yml
  CONTRIBUTING.md
  asv.conf.json
  pyproject.toml
  tox.ini
Due: todo

README.rst
  README.rst
Due: todo

Update README.rst
  README.rst
Due: todo

use test more
  .github/workflows/test.yml
Due: none

fix pytest deprecation warning
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: todo

snap: fix build
  .meta/mksnap.py
Due: todo, pytest

tests: fix nbval DeprecationWarning
  Makefile
  tox.ini
Due: todo

Using REST API directly
  tqdm/contrib/discord.py
Due: todo, pytest

Using correct user agent
  tqdm/contrib/discord.py
Due: todo, pytest

use requests.Session
  tqdm/contrib/discord.py
Due: todo, pytest

restore original docs, misc linting
  tqdm/contrib/discord.py
Due: todo, pytest
