Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

todo:
  name: Check TODO
  language: pygrep
  entry: WIP
  args:
  - -i

pytest:
  name: pytest quick
  language: python
  entry: pytest
  args:
  - -qq
  - --durations=1
  - -k=not slow
  pass_filenames: false
  additional_dependencies:
  - numpy
  - pandas
  - pytest-timeout
  - pytest-asyncio>0.21

Added MonoWorker to update mytqdm progress to avoid delays.
  tqdm/contrib/mytqdm.py
Due: todo, pytest

Fix console output bug in logging_redirect_tqdm
  tqdm/contrib/logging.py
Due: todo, pytest

Use binary SI prefixes if unit_divisor is 1024
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

Clarify supported Python versions in installation docs
  README.rst
Due: todo

Add complete_bar_on_early_finish option
  README.rst
  tests/tests_tqdm.py
  tqdm/gui.py
  tqdm/rich.py
  tqdm/std.py
  tqdm/tk.py
Due: todo, pytest

Adjust version test to allow dev patch
  tests/tests_version.py
Due: todo, pytest

Adapt filterwarnings for Python 3.14
  tests/tests_pandas.py
Due: todo, pytest

CI: fix py3.7
  .github/workflows/test.yml
  tox.ini
Due: todo

lint: bump deps
  .pre-commit-config.yaml
Due: none

pyupgrade
  .meta/mkcompletion.py
  .meta/mksnap.py
  .pre-commit-config.yaml
  examples/7zx.py
  tests/conftest.py
  tests/tests_itertools.py
  tests/tests_synchronisation.py
  tests/tests_tqdm.py
  tqdm/cli.py
  tqdm/contrib/__init__.py
  tqdm/contrib/utils_worker.py
  tqdm/notebook.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

CI: bump workflow actions & pre-commit
  .github/workflows/check.yml
  .github/workflows/comment-bot.yml
  .github/workflows/post-release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: todo

CI: relax benchmark
  .github/workflows/check.yml
Due: todo

fix flake8 warnings
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

misc tidy
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

fix pandas>=3 & negative format_interval
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

tests: fix pandas deprecation warnings
  tests/tests_pandas.py
Due: todo, pytest

tests: fix pandas deprecated applymap
  tests/tests_pandas.py
Due: todo, pytest

fix dedented docstrings
  .meta/.tqdm.1.md
  .meta/mkdocs.py
  LICENCE
  tqdm/tqdm.1
Due: todo, pytest

add py3.13 support
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  asv.conf.json
  pyproject.toml
  tox.ini
Due: todo

drop _dist_ver
  .gitignore
  Makefile
  pyproject.toml
  tox.ini
  tqdm/version.py
Due: todo, pytest

update pyproject syntax
  pyproject.toml
Due: todo

Add missing importlib-metadata dependency
  environment.yml
Due: todo

fix py3.7 compat
  pyproject.toml
Due: todo

CI: use ubuntu-slim, minor lint
  .github/workflows/check.yml
  .github/workflows/comment-bot.yml
  .github/workflows/post-release.yml
  .github/workflows/test.yml
Due: todo

fix: pass unit_divisor to format_sizeof when formatting rate
  tqdm/std.py
Due: todo, pytest

Improve robustness of IPykernel detection
  tqdm/autonotebook.py
Due: todo, pytest

thread_map/process_map should progress tqdm as each future completes.
  tqdm/contrib/concurrent.py
Due: todo, pytest

fix Poor time estimation for concurrent processing
  tqdm/contrib/concurrent.py
Due: todo, pytest

fix `contrib.{discord,telegram}` error handling
  tqdm/contrib/discord.py
  tqdm/contrib/telegram.py
Due: todo, pytest

fix `contrib.{discord,slack,telegram}` format for `total=None`
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
Due: todo, pytest

bump workflow actions
  .github/workflows/test.yml
Due: none

Lazy-load tqdm.auto in callbacks and contrib helpers
  tqdm/contrib/__init__.py
  tqdm/contrib/concurrent.py
  tqdm/contrib/itertools.py
  tqdm/dask.py
  tqdm/keras.py
Due: todo, pytest

Fix __reversed__ to actually iterate in reverse order
  tqdm/std.py
Due: todo, pytest

Fix ZeroDivisionError in gui.py display()
  tqdm/gui.py
Due: todo, pytest

Fix notebook widget progress bar with numeric unit_scale
  tqdm/notebook.py
Due: todo, pytest

Support async iterables with only __aiter__ in tqdm_asyncio
  commit_msg.txt
  tests/tests_asyncio.py
  tqdm/asyncio.py
Due: todo, pytest

fix: apply disp_trim to all format_meter return paths
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

fix: replace 1 bare except clauses with except Exception
  tests/tests_tqdm.py
Due: todo, pytest

Take into account `unit_divisor` for rate calculation.
  tqdm/std.py
Due: todo, pytest

fix: `tqdm_notebook.update()` no longer returns `True`
  tests/tests_notebook.py
  tqdm/notebook.py
Due: todo, pytest

Path conditions:
  todo: any file but: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  pytest: any of: \.py$
