Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: trailing-whitespace
    exclude: ^README.rst$
- repo: local
  hooks:
  - id: todo
    name: Check TODO
    language: pygrep
    entry: WIP
    args: [-i]
    types: [text]
    exclude: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  - id: pytest
    name: pytest quick
    language: python
    entry: pytest
    args: [-qq, --durations=1, -k=not slow]
    types: [python]
    pass_filenames: false
    additional_dependencies:
    - numpy
    - pandas
    - pytest-timeout
    - pytest-asyncio
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    args: [-j8]
    additional_dependencies:
    - flake8-broken-line
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-isort
    - flake8-string-format
    - flake8-type-annotations
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: [--keep-count, --keep-output]

update format strings to f-strings
  tests/tests_itertools.py
  tests/tests_perf.py
  tests/tests_tqdm.py
  tqdm/contrib/telegram.py
  tqdm/std.py
Due: todo, pytest

python 3 doesn't need to inherit from object
  tests/tests_synchronisation.py
  tests/tests_tqdm.py
  tqdm/cli.py
  tqdm/contrib/utils_worker.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

unnecessary parens
  tqdm/keras.py
  tqdm/std.py
Due: todo, pytest

redundant-u-string-prefix
  .meta/mkcompletion.py
  tests/tests_tqdm.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

update to use Python 3 style super() without arguments
  tests/tests_tqdm.py
  tqdm/asyncio.py
  tqdm/contrib/__init__.py
  tqdm/contrib/discord.py
  tqdm/contrib/logging.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
  tqdm/dask.py
  tqdm/gui.py
  tqdm/notebook.py
  tqdm/rich.py
  tqdm/std.py
  tqdm/tk.py
  tqdm/utils.py
Due: todo, pytest

tidy import style
  tqdm/tk.py
Due: todo, pytest

remove self-use pylint disable
  tests/tests_contrib_logging.py
Due: todo, pytest

fix deprecation
  examples/7zx.py
Due: todo, pytest

test that reversing tqdm actually reverses iterator
  tests/tests_tqdm.py
Due: todo, pytest

ensure __iter__ uses the iterator set at time of calling
  tqdm/std.py
Due: todo, pytest

tests: bump pre-commit
  .pre-commit-config.yaml
  tqdm/contrib/logging.py
  tqdm/gui.py
  tqdm/notebook.py
  tqdm/tk.py
Due: todo, pytest

fix asv
  asv.conf.json
Due: todo

tests: fix flaky notebook tests
  .meta/nbval.ini
Due: todo

fix snap
  .meta/mksnap.py
Due: todo, pytest

build: do not install `examples` package
  pyproject.toml
Due: todo

env var override support
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

cli: fix & update completion
  .meta/mkcompletion.py
  tqdm/cli.py
  tqdm/tqdm.1
Due: todo, pytest

ignore unknown env overrides
  tqdm/utils.py
Due: todo, pytest

ci: release with bot account again
  .github/workflows/test.yml
Due: none

fix & update API docs
  .meta/.readme.rst
  .meta/mkdocs.py
  README.rst
  tqdm/std.py
Due: todo, pytest

replace os.path => pathlib.Path
  .meta/mksnap.py
Due: todo, pytest

utils.envwrap: fix unused var, add tests
  tests/tests_utils.py
  tqdm/utils.py
Due: todo, pytest

docs: fix image hosting
  .meta/.readme.rst
  DEMO.ipynb
  README.rst
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
Due: todo, pytest

docs: mention envwrap
  .meta/.readme.rst
  README.rst
Due: todo

fix edge cases & windows tests
  tests/tests_utils.py
  tqdm/utils.py
Due: todo, pytest

tests & docs: minor tidy
  .github/workflows/check.yml
  .meta/.readme.rst
  README.rst
Due: todo

drop old python versions
  .github/workflows/test.yml
  .meta/.readme.rst
  CONTRIBUTING.md
  README.rst
  asv.conf.json
  examples/async_coroutines.py
  examples/parallel_bars.py
  tests/tests_asyncio.py
  tox.ini
  tqdm/notebook.py
Due: todo, pytest

utils.envwrap: fix types
  .meta/.readme.rst
  README.rst
  tests/tests_utils.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

chore(python): add Python 3.12 in test matrix
  .github/workflows/test.yml
  tox.ini
Due: todo

Generated from sources
  .nojekyll
  asv.css
  asv.js
  asv_ui.js
  error.html
  graphdisplay.js
  graphs/alive-progress/branch-master/machine-github-actions/progressbar2/python-3.11/rich/benchmarks.track_alternatives.json
  graphs/alive-progress/branch-master/machine-github-actions/progressbar2/python-3.11/rich/benchmarks.track_tqdm.json
  graphs/alive-progress/branch-master/machine-github-actions/progressbar2/python-3.11/rich/summary.json
  graphs/summary/benchmarks.track_alternatives.json
  graphs/summary/benchmarks.track_tqdm.json
  index.html
  index.json
  info.json
  regressions.css
  regressions.js
  regressions.json
  regressions.xml
  summarygrid.js
  summarylist.css
  summarylist.js
  swallow.ico
  swallow.png
  vendor/bootstrap-3.1.0.min.css
  vendor/bootstrap-3.1.0.min.js
  vendor/jquery-3.3.1.min.js
  vendor/jquery.flot-0.8.3.categories.min.js
  vendor/jquery.flot-0.8.3.min.js
  vendor/jquery.flot-0.8.3.selection.min.js
  vendor/jquery.flot-0.8.3.time.min.js
  vendor/jquery.flot.axislabels.js
  vendor/jquery.flot.orderBars.js
  vendor/md5.js
  vendor/stupidtable.js
Due: todo

move import to top of file
  tqdm/std.py
Due: todo, pytest

use custom random state to not interfere with other generators
  tqdm/std.py
Due: todo, pytest

make train optional
  tqdm/std.py
Due: todo, pytest

add a train
  tqdm/std.py
Due: todo, pytest

fix some small spacing bugs
  tqdm/std.py
Due: todo, pytest

Reposition bars below a closed bar
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

fix HTML-escaped space padding in notebook
  tqdm/notebook.py
Due: todo, pytest

bugfix: batch_bar doesn't exist if train started after all epochs completed.
  tqdm/keras.py
Due: todo, pytest

Add postfixes to tqdm.rich
  tqdm/rich.py
Due: todo, pytest

Add display to close in rich module
  tqdm/rich.py
Due: todo, pytest
