Repository tqdm/tqdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: trailing-whitespace
    exclude: ^README.rst$
- repo: local
  hooks:
  - id: todo
    name: Check TODO
    language: pygrep
    entry: WIP
    args: [-i]
    types: [text]
    exclude: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  - id: pytest
    name: pytest quick
    language: python
    entry: pytest
    args: [-qq, --durations=1, -k=not slow]
    types: [python]
    pass_filenames: false
    additional_dependencies:
    - numpy
    - pandas
    - pytest-timeout
    - pytest-asyncio
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    args: [-j8]
    additional_dependencies:
    - flake8-broken-line
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-isort
    - flake8-string-format
    - flake8-type-annotations
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: [--keep-count, --keep-output]

Update discord.py
  tqdm/contrib/discord.py
Due: todo, pytest

Reverting to pure REST API to eliminate Discord.py
  tqdm/contrib/discord.py
Due: todo, pytest

Using REST API directly
  tqdm/contrib/discord.py
Due: todo, pytest

Using correct user agent
  tqdm/contrib/discord.py
Due: todo, pytest

tqdm.std: add update_to
  tqdm/cli.py
  tqdm/std.py
Due: todo, pytest

replace deprecated exceptions
  .meta/.readme.rst
  README.rst
  examples/7zx.py
Due: todo, pytest

slight tidy
  tqdm/notebook.py
Due: todo, pytest

keras: fix resuming training when `verbose>=2` (#1508)
  tqdm/keras.py
Due: todo, pytest

fix format_num
  tests/tests_tqdm.py
  tqdm/std.py
Due: todo, pytest

f-strings
  .meta/.readme.rst
  README.rst
  tests/tests_keras.py
  tests/tests_perf.py
  tests/tests_tqdm.py
  tqdm/std.py
  tqdm/utils.py
Due: todo, pytest

fix HTML-escaped space padding in notebook (#1506)
  tqdm/notebook.py
Due: todo, pytest

CI: bump actions
  .github/workflows/check.yml
  .github/workflows/comment-bot.yml
  .github/workflows/post-release.yml
  .github/workflows/test.yml
Due: todo

tests: fix asv
  .github/workflows/check.yml
Due: todo

tests: fix pandas warnings
  environment.yml
  tests/tests_pandas.py
Due: todo, pytest

pandas: add progress_map, fix tests
  tests/tests_pandas.py
  tqdm/std.py
Due: todo, pytest

tests: fix macos notebook indentation
  .meta/nbval.ini
Due: todo

fix datetime.utcfromtimestamp py3.12 warning (#1519)
  tqdm/std.py
Due: todo, pytest

tests: bump pre-commit
  .pre-commit-config.yaml
Due: none

slight makefile clean
  LICENCE
  Makefile
Due: todo

use PyPI trusted publishing
  .github/workflows/test.yml
Due: none

std: use SIGWINCH signal to update the size
  tqdm/std.py
Due: todo, pytest

add keyword 'repeat' for tqdm.contrib.itertools.product
  tests/tests_itertools.py
  tqdm/contrib/itertools.py
Due: todo, pytest

Add support for Spyder in tqdm.auto
  tqdm/autonotebook.py
Due: todo, pytest

whitespace
  tqdm/autonotebook.py
Due: todo, pytest

update spyder detection method
  tqdm/autonotebook.py
Due: todo, pytest

add link for documentation in README.rst
  README.rst
Due: todo

Add support for setting mininterval and maxinternal via environment variables
  tqdm/std.py
Due: todo, pytest

respect console handler log levels
  tqdm/contrib/logging.py
Due: todo, pytest

Render nested progress bars in the same container in IPython. Fixes rendering issues in VSCode. See issue: https://github.com/microsoft/vscode-jupyter/issues/9397.
  tqdm/notebook.py
Due: todo, pytest

Add option to specify the timeout.
  tqdm/contrib/concurrent.py
Due: todo, pytest

cli: eval safety
  tqdm/cli.py
Due: todo, pytest

tidy `super()` calls
  .meta/.readme.rst
  DEMO.ipynb
  README.rst
  tests/tests_tqdm.py
  tqdm/asyncio.py
  tqdm/contrib/__init__.py
  tqdm/contrib/discord.py
  tqdm/contrib/logging.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
  tqdm/dask.py
  tqdm/gui.py
  tqdm/notebook.py
  tqdm/rich.py
  tqdm/std.py
  tqdm/tk.py
  tqdm/utils.py
Due: todo, pytest

Add display to close in rich module
  tqdm/rich.py
Due: todo, pytest

Force rich progress bar to fresh on closing
  tqdm/rich.py
Due: todo, pytest
